<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>ą</string>
	</array>
	<key>E</key>
	<array>
		<string>ę</string>
	</array>
	<key>I</key>
	<array>
		<string>į</string>
	</array>
	<key>L</key>
	<array>
		<string>ł</string>
	</array>
	<key>O</key>
	<array>
		<string>ǫ</string>
	</array>
	<key>U</key>
	<array>
		<string>ų</string>
	</array>
	<key>___</key>
	<array>
		<string>GRAVE</string>
	</array>
</dict>
</plist>
