<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G</key>
	<array>
		<string>Ġ</string>
	</array>
	<key>N</key>
	<array>
		<string>Ñ</string>
		<string>Ŋ</string>
		<string>ŋ̇</string>
	</array>
	<key>K</key>
	<array>
		<string>Ḳ</string>
	</array>
	<key>L</key>
	<array>
		<string>Ł</string>
		<string>Ḷ</string>
		<string>Ł̣</string>
	</array>
	<key>S</key>
	<array>
		<string>Ṣ</string>
	</array>
	<key>T</key>
	<array>
		<string>ṭ</string>
	</array>
	<key>X</key>
	<array>
		<string>ẋ</string>
	</array>
</dict>
</plist>
