<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>ä</string>
		<string>ą</string>
		<string>ą̈</string>
	</array>
	<key>E</key>
	<array>
		<string>ę</string>
	</array>
	<key>D</key>
	<array>
		<string>ḏ</string>
	</array>
	<key>I</key>
	<array>
		<string>į</string>
	</array>
	<key>L</key>
	<array>
		<string>ł</string>
		<string>ł̱</string>
	</array>
	<key>O</key>
	<array>
		<string>ǫ</string>
	</array>
	<key>S</key>
	<array>
		<string>s̱</string>
		<string>s̲h̲</string>
	</array>
	<key>T</key>
	<array>
		<string>ṯ</string>
		<string>t̲h̲</string>
	</array>
	<key>U</key>
	<array>
		<string>ü</string>
		<string>ų</string>
		<string>ų̈</string>
		<string>u̱</string>
		<string>u̲u̲</string>
	</array>
	<key>X</key>
	<array>
		<string>x̱</string>
	</array>
	<key>___</key>
	<array>
		<string>GRAVE</string>
		<string>CARON</string>
	</array>
</dict>
</plist>
