<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G</key>
	<array>
		<string>g̱</string>
	</array>
	<key>K</key>
	<array>
		<string>ḵ</string>
	</array>
	<key>L</key>
	<array>
		<string>ł</string>
	</array>
	<key>O</key>
	<array>
		<string>∅</string>
	</array>
	<key>X</key>
	<array>
		<string>x̱</string>
	</array>
	<key>Y</key>
	<array>
		<string>ÿ</string>
		<string>y̱</string>
	</array>
	<key>___</key>
	<array>
		<string>ACUTE</string>
		<string>GRAVE</string>
		<string>CIRCUMFLEX</string>
	</array>
	<key>√</key>
	<array/>
</dict>
</plist>
